<mat-toolbar color="primary" class="app-toolbar">
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <button *ngIf="isLoggedIn()" mat-button routerLink="/dashboard">Dashboard</button>
  <button *ngIf="isLoggedIn()" mat-button routerLink="/expenses">Expenses</button>
  <button *ngIf="!isLoggedIn()" mat-button routerLink="/login">Login</button>
  <button *ngIf="!isLoggedIn()" mat-button routerLink="/signup">Signup</button>
  <button *ngIf="isLoggedIn()" mat-button (click)="logout()">Logout</button>
</mat-toolbar>

<div class="app-content">
  <router-outlet></router-outlet>
</div>
